
@media (min-width:1680px){

    .navmain p{
        display: flex;
      }
}
@media (max-width:1254px){
    .post{
        min-width: 1000px;
      }
}
@media (max-width:1047px){
    .post{
        min-width: 900px;
      }
}
@media (min-width:935px){

    .ruxPopup{
        width: 600px;
    }
    .ruxPopup .topic{
        width: 605px;
    }
    .popFooter button{
        width: 300px;
    }
}
@media (max-width:920px){
    .navmain{
        justify-content: left;
        width: 100%;
        margin-left: 0;
    }
    img.bit2 {
        display: block;
      }

    .bgCover{
        width: 90%;
    }
    .post{
        min-width: 800px;
      }
}
@media (max-width:845px){
    .post{
        min-width: 700px;
      }

}
@media (min-width:570px){
    .post .attBlock img {
        left: 175px;
    }
}

@media (min-width:635px){
    .post .attBlock img {
        left: 175px;
    }
    .msgSec #msgBox input{
        width: 586px;

      }
      .msgSec #msgBox textarea{
      width: 588px;

      }
      .msgSec #msgBox button{
          width:597px;

      }
      .msgSec #searchBox input{
        width: 660px;

      }
      .msgSec #searchBox input{
        width: 505px;

    }
}
@media (min-width:770px){
    .msgSec #msgBox input{
      width: 741px;
    }
    .msgSec #msgBox textarea{
    width: 743px;
    }
    .msgSec #msgBox button{
        width:751px;
    }
    .msgSec #searchBox input{
        width: 660px;

    }
}
@media (orientation:landscape) {
    .tnav {
        position:fixed;
        left:30px;
        width: 708px;
    }
    .tspan{
        width: 685px;
    }
}

@media (max-width:770px){
    
    i{
        display: none;
    }
    .postSec{
        top: 20px;
    }
    .postSec{
        margin-top: 10px;
    }
    .godown {
        top: 440px;
    }
    .post .timestamp{
        font-size: 12px;
    }
    .post .postPoster{
        font-size: 12px;
    }
    .post{
        min-width: 600px;
      }
}
@media (max-width:670px){

    .postSec{
        margin-top: 10px;
    }
    .post .timestamp{
        font-size: 12px;
    }
    .post .postPoster{
        font-size: 12px;
    }
    .post{
        min-width: 500px;
      }
}
@media (max-width:570px){
    .dislikeIndi{
        left: 32px;
    }
    .likeIndi{
        left: 113px;
    }
    .post .attBlock iframe{
        left: 158px;
    }
    
    .post{
        margin-left: -20px;
        min-width: 400px;
      }
      .msgSec{
          margin-left:0px;
      }
      .msgSec #msgBox input{

        margin-left:5px;
      }
      .msgSec #msgBox textarea{

      margin-left:5px;
      }
      .msgSec #msgBox button{
     
          margin-left:5px;
      }
}
@media (max-width:430px){
    .post{
        max-width: 100px;
        min-width: 335px;
      }
      .msgSec{
        margin-left:-10px;
    }
}
/*HEIGHT ADJUSTERS*/
@media(min-height:600px){
    .postSec{
        max-height: 550px;
    }

}
@media(min-height:650px){
    .postSec{
        max-height: 600px;
    }

}

@media(min-height:700px){
    .postSec{
        max-height: 650px;
    }

}
@media(min-height:750px){
    .postSec{
        max-height: 700px;
    }

}
@media(min-height:800px){
    .postSec{
        max-height: 750px;
    }

}
@media(min-height:850px){
    .postSec{
        max-height: 800px;
    }

}
@media(min-height:900px){
    .postSec{
        max-height: 850px;
    }

}
@media(min-height:950px){
    .postSec{
        max-height: 905px;
    }

}
@media(min-height:1000px){
    .postSec{
        max-height: 950px;
    }

}