
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  scrollbar-width: none;
  font-family: 'Open Sans', sans-serif;
}
*::-webkit-scrollbar{
  display: none;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


:root{
  --black-to-white:#000;
  --primary-color:#579ffb;  
  --secondary-font:#000;
  --primary-color-hover:#4193ff;
  --primary-background:#fff;
  --primary-font-color:#fff;
  --secondary-color:#2180fc;
  --primary-border-color:black;
}
/* :root {
  --black-to-white: #fff;
  --primary-color: #333;
  --secondary-font:#fff;
  --primary-color-hover: #222;
  --primary-background: #000;
  --primary-font-color: #fff;
  --secondary-color: #000;
  --primary-border-color: black;
} */
body::-webkit-scrollbar{
  display: none;
}
body {
  width: 100%;
  overflow-y: hidden;
  background: var(--primary-background);
  overflow-x: hidden;
  width: 100%;
  padding-left: 20px;
  margin-left: -10px;
}
ul#posts{
  overflow-x: hidden;
}


.slide li a {
  text-decoration : none;
   color : #2d2f31;
   font-size: large;
  }


.tnav {
  width: 347px;
  background: #d9d9d9;
  /* margin-top: 0px; */
  /* margin: 40px auto; */
  
  border-radius: 0px 0px 5px 5px;
}
.tnav img {
  width: 26px;
  filter: invert(1);
  position: absolute;
  display: none;
  margin-top: 2px;
  left: 25px;
  transition: 0.4s;
}

.tspan {
  position: fixed;
  width: 325px;
  border: 2px var(--secondary-color) solid;
  border-radius: 5px;
  top: 5%;
  margin-top: -50px;
  font-weight: 800;
  padding: 10px;
  background: var(--primary-color);
  color: white;
  font-size: 20px;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}
.tspan::after {
  float: right;
  right: 10%;
  content: "+";
}
.slide {
  list-style: none;
  margin-top: -10px;
  clear: both;
  margin-left: -40px;
  /* width: 100%; */
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}
.slide li {
  padding: 12px;
  /* border-bottom: 1px #000 solid; */
  /* padding: 0px 30px; */
  margin-top: 10px;
}
#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {
  height: 440px;
}


img.bit2 {
  margin: -14px 10px 0px -15px;
  transform: rotate(90deg);
  filter: invert(1);
  display: none;
  width: 30px;
}
.postSec{
  scrollbar-width: none;
  position: absolute;
  scroll-behavior: smooth;
  top:25px;
  max-width: 1700px;
  max-height: 900px;
  -ms-overflow-style: none;
  overflow-y: scroll;
  margin-left:-20px;
  margin-right: 10px;
  transition: 0.4s;
}
.postSec::-webkit-scrollbar{
  display: none;
}
.godown{
  top: 470px;
}
.post{
  color:var(--primary-font-color);
  min-width: 1200px;
  border: var(--secondary-color) solid;
  background: var(--primary-color);
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-top: 10px;
}
.post:hover{
  background: var(--primary-color-hover);
}
.post .tag{
  cursor: pointer;
  background:var(--secondary-color);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
.post .pfp{
  border-radius: 100px;
  max-width: 50px;
}
.post .postTopic{
  font-size: 20px;
  font-weight: 600;
}
.post .postPoster{
  position: absolute;
  margin-top: 15px;
  margin-left:10px;
}
.post .timestamp{
  position: absolute;
  right:20px;
  margin-top:15px;
}
.post .Att{
  overflow-x: scroll;
  display: none;
}
.post .atts{
  background:var(--secondary-color);
  cursor: pointer;
  width: 222px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  padding-left: 20px;
  transition: 0.4s;
}
.post .atts:hover{
  opacity: 0.3;
}
.post .atts p{
  padding: 0px;
  margin: 0px;
  font-size: 40px;
  font-weight: 800;
  margin-left: 35px;
}
.post .attBlock img {
  position: absolute;
  left: 157px;
  margin-top: -90px;
  border: 1px black solid;
  color: black;
  border-radius: 10px 10px 10px 10px;
  width: 113px;
  height:76px;
}
.post .attBlock iframe {
  position: absolute;
  left: 177px;
  margin-top: -88px;
}
#likebtn{
  color:black;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  border: none;
}
#dislikebtn{
  color:black;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  border: none;
}
.likeIndi {
  background: #fff;
  position: absolute;
  color: #000;
  margin-top: 16px;
  padding: 5px 18px;
  font-size: 14px;
  font-weight: 800;
  border-radius: 0px 5px 5px 0px;
  left: 133px;
}
div.delB {
  cursor: pointer;
  position: absolute;
  margin-top: -18px;
  right: 0px;
  padding: 0px 10px;
  border-radius: 20px 0px 5px 0px;
  background: #ff0000;
}
.dislikeIndi {
  background: #fff;
  position: absolute;
  color: #000;
  margin-top: -6px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px 0px 0px 5px;
  left: 52px;
}
.msgSec {
  position: fixed;
  bottom: -310px;
  padding-bottom: 340px;
  transition: 0.5s;
  border-width: 1px;
  width: 760px;
  margin-left: 10px;
  background: var(--primary-background);
}
.msgSec:hover{
  bottom: 0px;
}

.msgSec #msgBox{
  position: absolute;
}
.msgSec #searchBox{
  position: absolute;
  margin-top: 288px;
  margin-left: 5px;
}
.msgSec #searchBox .resetB{
  background: var(--primary-background);
  padding-right: 10px;
  padding-left: 10px;
  color: var(--secondary-font);
  border:2px var(--secondary-font) solid;
  border-width: 1px;
  font-size: 30px;
  border-right:none;
  border-radius: 20px 0px 0px 20px;
}

.msgSec #searchBox .submitB{
  background: var(--primary-background);
  color: var(--secondary-font);
  padding-right: 10px;
  padding-left: 10px;
  border: 2px var(--secondary-font) solid;
  border-width: 1px;
  font-size: 30px;
  border-left:none;
  border-radius: 0px 20px 20px 0px;
}
.msgSec #searchBox input{
  background: var(--primary-background);
  border:2px var(--secondary-font) solid;
  color: var(--secondary-font);
  width: 270px;
  height: 41px;
  border-width: 1px;
  border-right: none;
  border-left: none;
  font-size: 16px;
}
.msgSec #searchBox input::placeholder{
  color: var(--secondary-font);
}
.msgSec #searchBox input:focus{
  outline: none;
}
.msgSec #msgBox input{
  width: 360px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.msgSec #msgBox input:focus{
  outline: none;
}
.msgSec #msgBox textarea:focus{
  outline: none;
}
.msgSec #msgBox textarea{
  width: 360px;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.msgSec #msgBox button {
  color: var(--primary-font-color);
  margin-bottom: 10px;
  right: -150px;
  background: var(--primary-color);
  border: 1px #424242 solid;
  left: 0px;
  height: 45px;
  width: 365px;
  font-size: 30px;
  border-width: 1px;
  border-radius: 2px;
  margin-left: 10px;
  transition: 0.2s;
}

.msgSec #msgBox button:hover{
  background: var(--primary-color-hover);
}

.searchSec{
  position: fixed;
  background: var(--primary-background);
  top:5px;
  left:45px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  overflow-y: scroll;
  max-height: 800px;
  scrollbar-width: none;
}
.mySlides::-webkit-scrollbar{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: #000;
  font-size: 12px;
  opacity: 0.5;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}
.dots{
  text-align: center;
}
.exitB{
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.ruxPopup {
  padding-top: 40px;
  transform: translate(50%,-50%);
  position: fixed;
  overflow-y: scroll;
  background: #fff;
  top: 50%;
  right: 50%;
  height: 400px;
  width: 300px;
  z-index: 205;
  scrollbar-width: none;
  border-radius: 10px 10px 0px 0px;
}
.ruxPopup::-webkit-scrollbar{
  display: none;
}
.ruxPopup .topic {
  position: fixed;
  color: #fff;
  margin-top: -47px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  padding-top: 15px;
  width: 300px;
  height: 40px;
  text-align: center;
  justify-content: center;
  /* padding: 0px 0px 0px 0px; */
  background: var(--primary-color);
}
.ruxPopup ul {
  list-style: lower-roman;
}
.ruxPopup p {
  font-size: 16px;
  font-weight: bold;
}
.popFooter button {
  z-index: 205;
  cursor: pointer;
  background: #fff;
  border: 1px var(--secondary-color) solid;
  width: 152px;
  /* border-radius: 0px 0px 10px 10px; */
  height: 45px;
}
.popFooter .b2P {

  position: fixed;
  left: 50%;
  bottom: 10%;
  border-radius: 0px 0px 10px 0px;
}
.popFooter .b1P {
  /* margin-top: 700px; */
  right: 50%;
  bottom: 10%;
  position: fixed;
  border-radius: 0px 0px 0px 10px;
}

.bgCover{
  background: #000;
  z-index: 200;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.offline {
  padding: 20px;
  background: #fff;
  width: 350px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.offline p {
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  border-radius: 10px;
  background: #efefef;
  font-size: 32px;
  font-weight: 800;
}
.offline img {
  width: 300px;
  margin-left: 20px;
}
.offline button {
  cursor: pointer;
  background: var(--primary-color);
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  margin-left: 100px;
  border-radius: 10px;
}
